get_tweet/get_tweet.json
[{"id":"c1f8423a.c1753","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"2aef57e9.6fcf58","type":"websocket-listener","z":"","path":"/ws/tweet","wholemsg":"false"},{"id":"62cea1cb.c3c598","type":"twitter-credentials","z":"","screen_name":"haibaraaaaaaa"},{"id":"daced9d7.51b0b8","type":"websocket in","z":"c1f8423a.c1753","name":"","server":"2aef57e9.6fcf58","client":"","x":90,"y":240,"wires":[["68215ccf.08c1ec"]]},{"id":"84c6cf34.bc02c","type":"debug","z":"c1f8423a.c1753","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":100,"wires":[]},{"id":"c0ee52b3.f1928","type":"websocket out","z":"c1f8423a.c1753","name":"","server":"2aef57e9.6fcf58","client":"","x":480,"y":40,"wires":[]},{"id":"22f2df67.135b18","type":"template","z":"c1f8423a.c1753","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":280,"y":40,"wires":[["c0ee52b3.f1928","84c6cf34.bc02c"]]},{"id":"b9304282.b5a1b8","type":"debug","z":"c1f8423a.c1753","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":240,"wires":[]},{"id":"68215ccf.08c1ec","type":"template","z":"c1f8423a.c1753","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":280,"y":240,"wires":[["b9304282.b5a1b8"]]},{"id":"6b9f20c6.bd0348","type":"twitter in","z":"c1f8423a.c1753","twitter":"62cea1cb.c3c598","tags":"#NodeRED_test_tag","user":"false","name":"","topic":"tweets","inputs":0,"x":110,"y":40,"wires":[["22f2df67.135b18"]]}]